<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Friend list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Add new friend to list</h1>
    <form action="#" th:action="@{/index2}" th:object="${friend}" method="post">
        <table>
            <tr>
                <td>Name: <input type="text" th:field="*{name}" /></td>
            </tr>
        </table>
        <p><input type="submit" value="Submit" /></p>
    </form>

    <h2>My friends</h2>
    <table>
        <tr th:each="f : ${friends}">
            <td th:text="${f.name}"></td>
        </tr>
    </table>
</body>
</html>
